<h3>Update Details Of Player</h3>
<div>
    <form (ngSubmit)="onSubmit()">
        <div class="from-group">
            <label for="name">Player ID</label>
            <input type="text" class="from-control" id="playerId" 
            required [(ngModel)]="player.playerId" name="playerId">
        </div>
        <div class="from-group">
            <label for="name">Player Name</label>
            <input type="text" class="from-control" id="playerName" 
            required [(ngModel)]="player.playerName" name="playerName">
        </div>

        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>